{#
SPDX-FileCopyrightText: 2023 Julian-Samuel Gebühr
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Telegraf time-series database ({{ telegraf_identifier }})
{% for service in telegraf_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in telegraf_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ telegraf_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ telegraf_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ telegraf_identifier }} \
      --log-driver=none \
      --user={{ telegraf_uid }}:{{ telegraf_gid }} \
      --cap-drop=ALL \
      --read-only \
      --network={{ telegraf_container_network }} \
      --env-file={{ telegraf_base_path }}/env \
      {% for arg in telegraf_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ telegraf_container_image }} --config {{ telegraf_config_link }} {% if telegraf_debug %} --debug {%endif%}

{% for network in telegraf_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ telegraf_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ telegraf_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ telegraf_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ telegraf_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ telegraf_identifier }}

[Install]
WantedBy=multi-user.target
